In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url = 'https://raw.githubusercontent.com/lorey/list-of-countries/master/csv/countries.csv'
df = pd.read_csv(url, sep=";") #index_col=0
print(df.head(5))

  alpha_2 alpha_3      area  ... postal_code_format postal_code_regex  tld
0      AD     AND     468.0  ...              AD###  ^(?:AD)*(\d{3})$  .ad
1      AE     ARE   82880.0  ...                NaN               NaN  .ae
2      AF     AFG  647500.0  ...                NaN               NaN  .af
3      AG     ATG     443.0  ...                NaN               NaN  .ag
4      AI     AIA     102.0  ...                NaN               NaN  .ai

[5 rows x 19 columns]

In [3]:
print('Cantidad de Filas y columnas:',df.shape)
print('Nombre columnas:',df.columns)

Cantidad de Filas y columnas: (252, 19)
Nombre columnas: Index(['alpha_2', 'alpha_3', 'area', 'capital', 'continent', 'currency_code',
       'currency_name', 'eqivalent_fips_code', 'fips', 'geoname_id',
       'languages', 'name', 'neighbours', 'numeric', 'phone', 'population',
       'postal_code_format', 'postal_code_regex', 'tld'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   alpha_2              251 non-null    object
 1   alpha_3              252 non-null    object
 2   area                 252 non-null    float64
 3   capital              246 non-null    object
 4   continent            210 non-null    object
 5   currency_code        251 non-null    object
 6   currency_name        251 non-null    object
 7   eqivalent_fips_code  1 non-null      object
 8   fips                 249 non-null    object
 9   geoname_id           252 non-null    int64
 10  languages            249 non-null    object
 11  name                 252 non-null    object
 12  neighbours           165 non-null    object
 13  numeric              252 non-null    int64
 14  phone                247 non-null    object
 15  population           252 non-null    int64
 16  postal_code_format   154 non-null    object
 17  postal_code_regex    152 non-null    object
 18  tld                  250 non-null    object
dtypes: float64(1), int64(3), object(15)
memory usage: 37.5+ KB

In [5]:
df.describe()

               area    geoname_id     numeric    population
count  2.520000e+02  2.520000e+02  252.000000  2.520000e+02
mean   5.952879e+05  2.427870e+06  434.309524  2.727679e+07
std    1.904818e+06  1.632093e+06  254.663139  1.164127e+08
min    0.000000e+00  4.951800e+04    0.000000  0.000000e+00
25%    1.098000e+03  1.163774e+06  217.000000  1.879528e+05
50%    6.489450e+04  2.367967e+06  436.000000  4.268583e+06
75%    3.622245e+05  3.478296e+06  652.500000  1.536688e+07
max    1.710000e+07  8.505033e+06  894.000000  1.330044e+09